<wizard navBarLayout="large-empty-symbols">

  <!-- Basic Information: Enter projectName -->
  <wizard-step stepTitle="Basic Info" navigationSymbol="&#xf129;" navigationSymbolFontFamily="FontAwesome">
    <div class="centered-content">
      <div>
        <form #basicInfoForm="ngForm" class="form-horizontal">
          <div class="form-group">
            <div class="form-row">
              <label for="researcherName">Name of the researcher</label>
              <input type="text" class="form-control" id="researcherName" required [(ngModel)]="model.researcherName" name="researcherName" #researcherName="ngModel">
              <div *ngIf="!researcherName.valid && !researcherName.pristine && researcherName.errors.notFound" class="alert alert-danger">
                Researcher could not be found in TISS.
              </div>
              <div *ngIf="!researcherName.valid && !researcherName.pristine && researcherName.errors.required" class="alert alert-danger">
                Researcher name is required
              </div>
            </div>
            <div class="form-row">
              <label for="projectName">Name of the project</label>
              <input type="text" class="form-control" id="projectName" required [(ngModel)]="model.projectName" name="projectName" #projectName="ngModel">
              <div [hidden]="projectName.valid || projectName.pristine" class="alert alert-danger">
                Project name is required
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" [disabled]="!basicInfoForm.form.valid" nextStep>Next</button>
        </form>
      </div>
    </div>
  </wizard-step>




  <!-- TISS Administrative Data -->
  <wizard-step stepTitle="Administrative Data" navigationSymbol="&#xf2bb;" navigationSymbolFontFamily="FontAwesome" [canEnter]="fetchTissData">
    <div class="centered-content">
      <form #adminDataForm="ngForm" class="form-horizontal">
        <div class="form-group">
          <div class="form-row">
            <label for="selectedResearcher">Select the researcher in the list of search results:</label>
            <select class="form-control" id="selectedResearcher" [(ngModel)]="model.selectedTissResearcher" required name="selectedResearcher" #selectedResearcher="ngModel">
              <option *ngFor="let entry of model.tissSearchResult; let i = index" [ngValue]="entry">{{entry.preceding_titles}} {{entry.firstname}} {{entry.lastname}}<span *ngIf="entry.postpositioned_titles">, {{entry.postpositioned_titles}}</span></option>
            </select>
          </div>
          <ng-container *ngIf="model?.selectedTissResearcher">
            <dl class="dl-horizontal">
              <dt *ngIf="model?.selectedTissResearcher?.preceding_titles">Preceding Titles</dt>
              <dd *ngIf="model?.selectedTissResearcher?.preceding_titles">{{model?.selectedTissResearcher?.preceding_titles}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.firstname">First Name</dt>
              <dd *ngIf="model?.selectedTissResearcher?.firstname">{{model?.selectedTissResearcher?.firstname}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.lastname">Last Name</dt>
              <dd *ngIf="model?.selectedTissResearcher?.lastname">{{model?.selectedTissResearcher?.lastname}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.postpositioned_titles">Post-positioned Titles</dt>
              <dd *ngIf="model?.selectedTissResearcher?.postpositioned_titles">{{model?.selectedTissResearcher?.postpositioned_titles}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.gender">Gender</dt>
              <dd *ngIf="model?.selectedTissResearcher?.gender">{{model?.selectedTissResearcher?.gender}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.main_email">Mail</dt>
              <dd *ngIf="model?.selectedTissResearcher?.main_email">{{model?.selectedTissResearcher?.main_email}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.main_phone_number">Phone</dt>
              <dd *ngIf="model?.selectedTissResearcher?.main_phone_number">{{model?.selectedTissResearcher?.main_phone_number}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.employee?.employment?.organisational_unit">Organizational Unit</dt>
              <dd *ngIf="model?.selectedTissResearcher?.employee?.employment?.organisational_unit">{{model?.selectedTissResearcher?.employee?.employment?.organisational_unit}}</dd>
              <dt *ngIf="model?.selectedTissResearcher?.employee?.employment?.function">Function</dt>
              <dd *ngIf="model?.selectedTissResearcher?.employee?.employment?.function">{{model?.selectedTissResearcher?.employee?.employment?.function}}</dd>
            </dl>
          </ng-container>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary" previousStep>Back</button>
          <button type="submit" class="btn btn-secondary active" [disabled]="!adminDataForm.form.valid"  nextStep>Continue</button>
        </div>
      </form>
    </div>
  </wizard-step>



  <!-- Analyse Data: Allow analyse sample data (upload, analyze metadata, define if it's input or output) -->
  <wizard-step stepTitle="Analyse Data" navigationSymbol="&#xf093;" navigationSymbolFontFamily="FontAwesome">
    <div class="centered-content">
      <div ngfDrop selectable="1" (fileChange)="addFileSample($event, 'input')" class="well files-drop-zone" >
        Select one input data sample. Either drop the file here or click to open the file chooser.
      </div>
      <div ngfDrop selectable="1" (fileChange)="addFileSample($event, 'output')" class="well files-drop-zone" >
        Select one output data sample. Either drop the file here or click to open the file chooser.
      </div>
      <div>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>MimeType</th>
            <th>Size</th>
            <th>Input/Output</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngIf="model.inputFileSample" class="form-group">
              <td align="left"><strong>{{ model.inputFileSample.file.name }}</strong></td>
              <td>{{ model.inputFileSample.mimeType }}</td>
              <td>{{ model.inputFileSample.file.size | filesize }}</td>
              <td>Input</td>
              <td><input class="form-control" type="number" name="amount" placeholder="1" [(ngModel)]="model.inputFileSample.amount"></td>
            </tr>
            <tr *ngIf="model.outputFileSample" class="form-group">
              <td align="left"><strong>{{ model.outputFileSample.file.name }}</strong></td>
              <td>{{ model.outputFileSample.mimeType }}</td>
              <td>{{ model.outputFileSample.file.size | filesize }}</td>
              <td>Output</td>
              <td><input class="form-control" type="number" name="amount" placeholder="1" [(ngModel)]="model.outputFileSample.amount"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="submit" class="btn btn-secondary active" [disabled]="!model.inputFileSample || !model.outputFileSample" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>



  <!-- Repository: Select a repository based on the location and the previously entered output data -->
  <wizard-step stepTitle="Repository" navigationSymbol="&#xf24e;" navigationSymbolFontFamily="FontAwesome" [canEnter]="fetchRepositories">
    <div class="centered-content">
      <form #repoForm="ngForm" class="form-horizontal">
        <div class="form-group">
          <div class="form-row">
            <label for="selectedRepo">Select repository you're going to use:</label>
            <select class="form-control" id="selectedRepo" [(ngModel)]="model.selectedRepo" required name="selectedRepo" #selectedRepo="ngModel">
              <option *ngFor="let entry of model.repoSearchResult; let i = index" [ngValue]="entry">{{entry.repository_metadata.name[0].name}}</option>
            </select>
          </div>
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary" previousStep>Back</button>
          <button type="submit" class="btn btn-secondary active" [disabled]="!repoForm.form.valid"  nextStep>Continue</button>
        </div>
      </form>
    </div>
  </wizard-step>



  <!-- License: Select a license using the EUDAT license selector -->
  <wizard-step stepTitle="License" navigationSymbol="&#xf085;" navigationSymbolFontFamily="FontAwesome" (stepEnter)="selectLicense()">
    <div class="centered-content">
      <br><div id="licenseSelector"></div><br>

      <ng-container *ngIf="model?.selectedLicense">
        <dl class="dl-horizontal">
          <dt *ngIf="model?.selectedLicense?.name">Name</dt>
          <dd *ngIf="model?.selectedLicense?.name">{{model?.selectedLicense?.name}}</dd>
          <dt *ngIf="model?.selectedLicense?.url">URL</dt>
          <dd *ngIf="model?.selectedLicense?.url"><a target="_blank" href="{{model?.selectedLicense?.url}}">{{model?.selectedLicense?.url}}</a></dd>
          <dt *ngIf="model?.selectedLicense?.description">Description</dt>
          <dd *ngIf="model?.selectedLicense?.description">{{model?.selectedLicense?.description}}</dd>
        </dl>
      </ng-container>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="submit" class="btn btn-secondary active" nextStep [disabled]="!model.selectedLicense">Continue</button>
      </div>
    </div>
  </wizard-step>



  <!-- Generate DMP: Download the generated PDF- and JSON-LD-DMP -->
  <wizard-step stepTitle="Generate DMP" navigationSymbol="&#xf1c1;" navigationSymbolFontFamily="FontAwesome">
    <div class="centered-content">

      <br>
      <div class="btn-group">
        <button type="submit" class="btn btn-secondary" (click)="downloadHRDmp()">Download Humand-Reable DMP</button>
        <button type="button" class="btn btn-secondary" (click)="downloadMADmp()">Download Machine-Actionable DMP</button>
      </div>
      <br><br>

      <div class="btn-group">
        <button type="submit" class="btn btn-secondary" resetWizard>Restart</button>
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
      </div>
    </div>
  </wizard-step>

</wizard>
