<wizard navBarLayout="large-empty-symbols">

  <!-- Basic Information: Enter projectName -->
  <wizard-step stepTitle="Basic Info" navigationSymbol="&#xf129;" navigationSymbolFontFamily="FontAwesome">
    <div class="centered-content">
      <div>
        <form #basicInfoForm="ngForm" class="form-horizontal">
          <div class="form-group">
            <div class="form-row">
              <label for="researcherName">Name of the researcher</label>
              <input type="text" class="form-control" id="researcherName" required [(ngModel)]="model.researcherName" name="researcherName" #researcherName="ngModel" placeholder="Best results with <Lastname> <Firstname>">
              <div *ngIf="!researcherName.valid && !researcherName.pristine && researcherName.errors.notFound" class="alert alert-danger">
                Researcher could not be found in TISS.
              </div>
              <div *ngIf="!researcherName.valid && !researcherName.pristine && researcherName.errors.required" class="alert alert-danger">
                Researcher name is required
              </div>
            </div>
            <div class="form-row">
              <label for="projectName">Name of the project</label>
              <input type="text" class="form-control" id="projectName" required [(ngModel)]="model.projectName" name="projectName" #projectName="ngModel">
              <div [hidden]="projectName.valid || projectName.pristine" class="alert alert-danger">
                Project name is required
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary" [disabled]="!basicInfoForm.form.valid" nextStep>Next</button>
        </form>
      </div>
    </div>
  </wizard-step>




  <!-- TISS Administrative Data -->
  <wizard-step stepTitle="Administrative Data" navigationSymbol="&#xf2bb;" navigationSymbolFontFamily="FontAwesome" [canEnter]="fetchTissData">
    <div class="centered-content">
      <div>
        TODO: <br>
        - Query basic administrative data and show it here
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="submit" class="btn btn-secondary active" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>



  <!-- Analyse Data: Allow analyse sample data (upload, analyze metadata, define if it's input or output) -->
  <wizard-step stepTitle="Analyse Data" navigationSymbol="&#xf093;" navigationSymbolFontFamily="FontAwesome">
    <div class="centered-content">
      <div ngfDrop selectable="1" multiple="1"
           (filesChange)="addSampleFiles($event)" class="well files-drop-zone" >
        Drop your files here or click to open file chooser.
      </div>
      <div>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>MimeType</th>
            <th>Size</th>
            <th>Input/Output</th>
            <th>Amount</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let file of model.files; let i=index" class="form-group">
              <td align="left"><strong>{{ file.file.name }}</strong></td>
              <td>{{ file.mimeType }}</td>
              <td>{{ file.file.size | filesize }}</td>
              <td><select class="form-control" [(ngModel)]="file.ioType"><option value="input">Input</option><option value="output">Output</option></select></td>
              <td><input class="form-control" type="number" name="amount" placeholder="1" [(ngModel)]="file.amount"></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="submit" class="btn btn-secondary active" [disabled]="!(model.files.length > 0)" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>



  <!-- Repository: Select a repository based on the location and the previously entered output data -->
  <wizard-step stepTitle="Repository" navigationSymbol="&#xf24e;" navigationSymbolFontFamily="FontAwesome" (stepEnter)="fetchRepositories()">
    <div class="centered-content">
      <div>
        TODO: <br>
        - Recommend open access repository for the OUTPUTS.<br>
        - Use OpenDOAR API (takes mime-type of output + location of the user).<br>
        - User should choose from up to 3 suggested repos based on location (f.e. Austria: Prefer Austrian / European repos).
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="submit" class="btn btn-secondary active" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>



  <!-- License: Select a license using the EUDAT license selector -->
  <wizard-step stepTitle="License" navigationSymbol="&#xf085;" navigationSymbolFontFamily="FontAwesome">
    <div class="centered-content">
      <div>
        TODO: <br>
        - Use EUDAT license selector (https://github.com/ufal/public-license-selector) to decide on a license
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="submit" class="btn btn-secondary active" nextStep>Continue</button>
      </div>
    </div>
  </wizard-step>



  <!-- Generate DMP: Download the generated PDF- and JSON-LD-DMP -->
  <wizard-step stepTitle="Generate DMP" navigationSymbol="&#xf1c1;" navigationSymbolFontFamily="FontAwesome" (stepEnter)="generateDmp()">
    <div class="centered-content">
      <div>
        TODO: <br>
        - Generate a PDF (human readable) and a JSON-LD (machine-actionable) DMP and provide it as download.
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-secondary" resetWizard>Restart</button>
        <button type="button" class="btn btn-secondary" previousStep>Back</button>
        <button type="submit" class="btn btn-secondary" generatePDF>GeneratePDF</button>

      </div>
    </div>
  </wizard-step>

</wizard>
